HighScoresServiceClient/src/main/resources/wsdl/HighScoreService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://serivces.itcuties.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://serivces.itcuties.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://serivces.itcuties.com">
    <wsdl:types>
        <xs:schema xmlns:ax26="http://serivces.itcuties.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://serivces.itcuties.com">
            <xs:import namespace="http://serivces.itcuties.com/xsd"/>
            <xs:element name="getHighScoresSize">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHighScoresSizeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHighScoresForNickname">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHighScoresForNicknameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax25:HighScore"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHighScores">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getHighScoresResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax25:HighScore"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addHighScore">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="score" nillable="true" type="ax25:HighScore"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://serivces.itcuties.com/xsd">
            <xs:complexType name="HighScore">
                <xs:sequence>
                    <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="score" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getHighScoresForNicknameRequest">
        <wsdl:part name="parameters" element="ns:getHighScoresForNickname"/>
    </wsdl:message>
    <wsdl:message name="getHighScoresForNicknameResponse">
        <wsdl:part name="parameters" element="ns:getHighScoresForNicknameResponse"/>
    </wsdl:message>
    <wsdl:message name="getHighScoresSizeRequest">
        <wsdl:part name="parameters" element="ns:getHighScoresSize"/>
    </wsdl:message>
    <wsdl:message name="getHighScoresSizeResponse">
        <wsdl:part name="parameters" element="ns:getHighScoresSizeResponse"/>
    </wsdl:message>
    <wsdl:message name="addHighScoreRequest">
        <wsdl:part name="parameters" element="ns:addHighScore"/>
    </wsdl:message>
    <wsdl:message name="getHighScoresRequest">
        <wsdl:part name="parameters" element="ns:getHighScores"/>
    </wsdl:message>
    <wsdl:message name="getHighScoresResponse">
        <wsdl:part name="parameters" element="ns:getHighScoresResponse"/>
    </wsdl:message>
    <wsdl:portType name="HighScoreServicePortType">
        <wsdl:operation name="getHighScoresForNickname">
            <wsdl:input message="ns:getHighScoresForNicknameRequest" wsaw:Action="urn:getHighScoresForNickname"/>
            <wsdl:output message="ns:getHighScoresForNicknameResponse" wsaw:Action="urn:getHighScoresForNicknameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getHighScoresSize">
            <wsdl:input message="ns:getHighScoresSizeRequest" wsaw:Action="urn:getHighScoresSize"/>
            <wsdl:output message="ns:getHighScoresSizeResponse" wsaw:Action="urn:getHighScoresSizeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addHighScore">
            <wsdl:input message="ns:addHighScoreRequest" wsaw:Action="urn:addHighScore"/>
        </wsdl:operation>
        <wsdl:operation name="getHighScores">
            <wsdl:input message="ns:getHighScoresRequest" wsaw:Action="urn:getHighScores"/>
            <wsdl:output message="ns:getHighScoresResponse" wsaw:Action="urn:getHighScoresResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HighScoreServiceSoap11Binding" type="ns:HighScoreServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getHighScoresForNickname">
            <soap:operation soapAction="urn:getHighScoresForNickname" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHighScoresSize">
            <soap:operation soapAction="urn:getHighScoresSize" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addHighScore">
            <soap:operation soapAction="urn:addHighScore" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getHighScores">
            <soap:operation soapAction="urn:getHighScores" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HighScoreServiceSoap12Binding" type="ns:HighScoreServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getHighScoresForNickname">
            <soap12:operation soapAction="urn:getHighScoresForNickname" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHighScoresSize">
            <soap12:operation soapAction="urn:getHighScoresSize" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addHighScore">
            <soap12:operation soapAction="urn:addHighScore" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getHighScores">
            <soap12:operation soapAction="urn:getHighScores" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HighScoreServiceHttpBinding" type="ns:HighScoreServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getHighScoresForNickname">
            <http:operation location="getHighScoresForNickname"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHighScoresSize">
            <http:operation location="getHighScoresSize"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addHighScore">
            <http:operation location="addHighScore"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getHighScores">
            <http:operation location="getHighScores"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HighScoreService">
        <wsdl:port name="HighScoreServiceHttpSoap11Endpoint" binding="ns:HighScoreServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/HighScoreService"/>
        </wsdl:port>
        <wsdl:port name="HighScoreServiceHttpSoap12Endpoint" binding="ns:HighScoreServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/HighScoreService"/>
        </wsdl:port>
        <wsdl:port name="HighScoreServiceHttpEndpoint" binding="ns:HighScoreServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/HighScoreService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
